body {
    margin: 0;
    /* white-space: nowrap; */
    width: 400px;
  }

  h1 {
    font-size: 14px;
    color: rgb(98, 209, 0);
    margin-left: 1em;
  }

  ul{
    list-style: none;
  }

  /* #container {
    padding-left: 7px;
  } */
/* 
  p {
    margin: 0.4em;
  } */
.cclose{
  background: transparent;
  color: red;
  border:0;
  outline: 0;
  font-size: 1em !important;
  display: none;
}

.cclose:hover {
  color: lightcoral;
}

li:hover .cclose{
    display: inline;
  }

  img{
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: -0.3em;
  }

  .navbar{
    background-color:rgb(98, 209, 0);
  }

#list{
  padding-left: 0.9em;
}

  #cbList{
    display: inline-block;
    min-height: 500px;
    /* border:0; */
    padding-top: 5em;
    margin-right: -1em;
  }
  .container{
    padding-left: 0px !important;
  }
/* 
  .titleContainer {
    background-color:rgb(220, 241, 198);
    display:flex;
    box-sizing:border-box;
    border:0;
    padding-right: 1em;
  } */

  .bottomContainer {
    border: 0;
    padding-bottom: 4em;
    position: absolute;
   
  }

  #btSplit {
    background-color: rgb(98, 209, 0);
    color: white;
    border: 3;
    outline: none;
    padding: 1em;
    border-radius: 1em;
    padding-right: 1em;
    position: absolute;
    margin-top: -3em;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-left: -0.4em;

    
  }

.sort {
    padding-right: 1em;
    border-radius: 6px;
    border:none;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    background-color: #28a8e0;
    height:30px;
  }
  .sort:hover {
    text-decoration: none;
    background-color:#1b8aba;
  }
  .sort:focus {
    outline:none;
  }
  .sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
  }
  .sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
  }
  .sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
  }