body {
    margin: 0;
    width: 400px;
  }

  h1 {
    font-size: 14px;
    color: rgb(98, 209, 0);
    margin-left: 1em;
  }

  ul{
    list-style: none;
  }
  .cclose{
    background: transparent;
    color: red;
    border:0;
    outline: 0;
    font-size: 1em !important;
    display: none;
  }

  .cclose:hover {
  color: lightcoral;
}

  li:hover .cclose{
    display: inline;
  }

  img{
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: -0.3em;
  }

  .navbar{
    background-color:rgb(98, 209, 0);
  }

  #list{
    padding-left: 0.9em;
  }

  #cbList{
    min-height: 500px;
    padding-top: 5em;
    margin-right: -1em;
    padding-bottom: 0.5em;
  }
  .container{
    padding-left: 0px !important;
  }
  
  .item{
    font-size: 14px;
  }

  .bottomContainer {
    border: 0;
    padding-bottom: 4em;
    position: absolute;
   
  }

  #btSplit {
    background-color: rgb(98, 209, 0);
    color: white;
    border: 3;
    outline: none;
    padding: 1em;
    border-radius: 1em;
    padding-right: 1em;
    position: absolute;
    margin-top: -3em;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-left: -0.4em;

    
  }