html{
  overflow: hidden;
}
body {
    margin: 0;
    width: 365px;
    background-color: whitesmoke !important;
  }

  .search{
    border-radius: 9em !important;
    border-style: hidden !important;
  }

  .search:focus{
    outline-style:none !important;
    box-shadow:none !important;
    border-color:transparent !important;
  }


  input[type="search"]::-webkit-input-placeholder {
    color: #d2d2d2;
  }

  .inner-addon { 
    position: relative; 
    width: 10em;
}

#i-search {
  position: absolute;
  padding: 6px;
  pointer-events: none;
}
/* align icon */
#i-search { left:  0px;}

/* add padding  */
.left-addon input  { 
  padding-left:  32px;
  padding-bottom: 0em; 
  padding-top: 0em;
}

  ul{
    list-style: none;
  }
  .cclose{
    background: transparent;
    color: red;
    border:0;
    outline: 0;
    font-size: 1em !important;
    display: none;
  }

  .cclose:hover {
  color: lightcoral;
}

  li:hover .cclose{
    display: inline;
  }

  li:hover{
   cursor: pointer;
  }

  img{
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: -0.3em;
    vertical-align: initial !important;
  }

  .audio{
    margin-left: -1.4em;
  }

  #list{
    padding-left: 1.8em;
  }

  .navbar-brand {
  margin-right: 0 !important;
 
}

#exportTabs{
  width: 1.3em;
  height: 1.3em;
  margin-left: 0em;
}
#separate{
  width: 1.3em;
  height: 1.3em;
  margin-left: -7em;
}
  #cbList{
    z-index: 2000;
    position: relative;
    padding-top: 5em;
    margin-right: -1em;
    padding-bottom: 0.5em;
  }
  .container{
    padding-left: 0px !important;
  }
  
  .item{
    font-size: 14px;
  }

  .bottomContainer {
    border: 0;
    z-index: 1;
    position: relative;
    width: 400px;
    height: 160px;
    padding-bottom: 22em;
    padding-left: 3em;
  }
.navbar{
  background-image:url('img/YellowStripe.png') !important;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* pinchers animation pinches */
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(-2deg);}
}
@keyframes spinPinch2 {
  from {transform:rotate(0deg);}
  to {transform:rotate(4deg);}
}
  
.splitUpBt:hover .pinch1{
  animation: spin 1s infinite cubic-bezier(0.3, 0.76, 0.53, 0.92);
  transform-origin: 500% 50%;
}

.splitUpBt:hover .pinch2{
  animation: spinPinch2 1s infinite cubic-bezier(0.3, 0.76, 0.53, 0.92);
  transform-origin: 500% 50%;
}




[draggable] {
  user-select: none;
}

.listItem.over {
  border-top: 2px solid #fdc80f;
}